:root {
	--blue: #007bff;
	--indigo: #6610f2;
	--purple: #6f42c1;
	--pink: #e83e8c;
	--red: #dc3545;
	--orange: #bd5d38;
	--yellow: #ffc107;
	--green: #28a745;
	--teal: #20c997;
	--cyan: #17a2b8;
	--white: #fff;
	--gray: #6c757d;
	--gray-dark: #343a40;
	--primary: #bd5d38;
	--secondary: #6c757d;
	--success: #28a745;
	--info: #17a2b8;
	--warning: #ffc107;
	--danger: #dc3545;
	--light: #f8f9fa;
	--dark: #343a40;
	--breakpoint-xs: 0;
	--breakpoint-sm: 576px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 992px;
	--breakpoint-xl: 1200px;
	--font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  }

html,body{
	scroll-behavior: smooth;
}
body{
	background-color: #eeeeee;;/* para testar */
}
.menu-mobile{
	background-color: red;
	height: 100vh;
	width: 100vw;
}
/*body:hover {overflow-y:scroll;}*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.all{

}
::-webkit-scrollbar {
	display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */


/*
::-webkit-scrollbar{
	width: 20px;
}
::-webkit-scrollbar-track{
	background-color: transparent;
}
::-webkit-scrollbar-thumb{
	background-color: aqua;
	border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
	background: aqua;
	border-radius: 10px;
}
*/


/* =================== Header =================== */
header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.6s;
	z-index: 100000;
}
.navbar{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	min-height: 8vh;
	font-family: 'Poppins', sans-serif;	

}
.navbar-logo{
	margin: 0px;
	padding: 0px;
	text-decoration: none;
 }
 .navbar-logo spam{
	content: "";
	color:#FBFBF8;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-family: 'Poppins', sans-serif;
	font-size: 30px;
	
 }

.navbar-logo:hover, .navbar-logo:focus {
	text-decoration: none; }

.navbar-links{
	display: flex;
 	justify-content: space-around;
 	width: 30%;
 	min-width: 700px;

}
.navbar-links li{
	position: relative;
	list-style: none;
}
.navbar-links li a{
	content: "";
	font-family: 'Poppins', sans-serif;
	font-size: 17px;
    color: blanchedalmond; /* Cor texto barra nav*/
    text-decoration: none;
    background: transparent;
    border-bottom: 2px solid transparent;
    transition: all 0.4s ease-in-out 0s; 
}

.navbar-links li a:hover {
	color: aqua;
	font-size: 19px;
	/* border-bottom-color: #FBFBF8; */
	border-bottom-right-radius: 1px;
	border-bottom-left-radius: 1px;
     /* colocar animação */
}


 /* 3 linhas burger menu */
.burger{
	right: 0;
	display: none;
	cursor: pointer;
}
.burger div{
	width: 25px;
	height: 3px;
	background-color: #FBFBF8;
	margin: 5px;
	transition: all 0.3s ease;
}
.toggle .line1{
	transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
	opacity: 0;
}
.toggle .line3{
	transform: rotate(45deg) translate(-5px,-6px);
}

/* =============================================== */
/* =================== Home :) =================== */
#section-home{
	height: 100vh;
	width: 100%;
	background: linear-gradient(#202020bb,rgba(14, 77, 139, 0.726)),url(../img/wallpaper-home.jpg);
	background-size: cover;
	background-position: center;
	transition: 1s;
}
.scrolado{
	transition: 1s;
	border-bottom-right-radius: 150px;
}
.mr-circle{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 60px;
	width: 60px;
	border-radius: 100%;
	
}
.mr-circle:hover{
	background-color: #a6a9ac7e;
}
.container-1{
	padding-top: 20vh;
}
.home-logo{
	display: flex;
	align-items: center;
	justify-content: center;
}
.logo-github{
	color: blanchedalmond;
	font-size: 130px;
}
/*
.logo-github:hover{
	color: aqua;
}
*/

.title-home{

}

.title-home h1{
	text-align: center;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen;
	font-size: 90px;
	color:blanchedalmond;
	margin: 0px;
	padding: 0px;
}

.title-home h2{
	text-align: center;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen;
	font-size: 20px;
	color:blanchedalmond;
	margin: 0px;
	padding: 0px;
}

.buttom-home div{
	margin-top: 80vh;
}
.buttonhome-tosobremim{
	width: 80px;
	height: 80px;
	opacity: 0.5;
	position: absolute;
	cursor: pointer;
 	background-color: #fff; 
	border-radius: 100%;
	left: 0;
	right: 0;
	top: 0px;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
}
.buttonhome-tosobremim:hover{
	background-color: blanchedalmond; 
 	opacity: 1; 
}
.buttonhome-tosobremim::before,
.buttonhome-tosobremim::after{
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	border: 5px solid #202020;
	height: 20px;
	width: 20px;
	transform: translate(-50%, -50%) rotate(45deg);
	border-top: transparent;
	border-left: transparent;
	animation: scroll-buttom 7s  infinite;	

}

/* =============================================== */
/* =================== Projetos :) =================== */
#projetos{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	padding: 10px;
	background-color: #eeeeee;
	transition: 1s;
}
.scrolado-projetos{
	transition: 1s;
	box-shadow:  -2px 4px 2px -2px #36363634;
	border-bottom-left-radius: 150px;
}


.meu-curriculo{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 300px;
	width: 300px;
	border-radius: 100%;
	background-color: rgb(253, 196, 231);
}
.meu-curriculo p{
	text-align: center;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen;
	font-size: 30px;
	color:#87f4f8;
}
.meu-curriculo:hover{
	background-color: #87f4f8;
}
.meu-curriculo:hover p{
	color: rgb(253, 196, 231);
}

/* =============================================== */

#websitespessoais-section{
	display: flex;
	margin-top: 10px;
	width: 100vw;
	height: 100%;
	padding: 10px;
	background-color: #eeeeee;
}
.container-websitespessoais{
	width: 90%;
	height: 100%;
	margin: 50px auto;

}
.container-websitespessoais-cards{
	display: flex;
	height: 100%;
	flex-direction: row;
	justify-content: space-around;
	flex-flow: wrap;
}

.container-websitespessoais-cards a{
text-decoration: none;
}
.link-websitespessoais{
	width: 100%;
	height: 100%;
}
.body-card{
	padding: 10px 10px;
}

.rgb:hover .projetos-titulo{
	animation: cores;
	animation-duration: 9s;
	animation-iteration-count: infinite;
	margin: 0;
}
.projetos-websitespessoais{
	width: 70%;
	height: 0;
	border-radius: 4px;
	padding-top: 0;
	padding-bottom: 35%;
	margin-bottom: 50px;
	transition: 0.3s;
}

.projetos-websitespessoais:hover{
	transform: scale(1.05);
	box-shadow:  0px 0px 8px 0px #3636367c;
}

.websitepessoal1{
	background: url(../img/websitepessoal1.jpg);
	background-size: cover;
	background-position: center;
}
.info-card-websitespessoais{
	transition: 1s;
	width: 15%;
	height: 0;
	display: flex;
	align-items: center;
	clip-path: polygon(100% 0, 100% 0, 70% 100%, 0% 100%, 0 49%, 0% 0%);
	padding: 3%;
	border-top-left-radius: 4px;
	background-color: #5a5a5ad2;

}

.num-websitespessoais-card{
	text-align: center;
	display: block;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen;
	text-decoration: none;
	color: rgba(255, 255, 255, 0.534);
	text-shadow: 2px 2px 2px #ababab70;
	font-weight: 800;
	font-size: 2vw;
}
.hideweb{
	transition: 1s;
	display: none;
	text-align: center;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen;
	text-decoration: none;
	color: rgba(255, 255, 255, 0.534);
	margin-left: 10px;
	text-shadow: 1px 1px 3px #ababab;
	font-weight: 800;
	font-size: 1.5vw;
}
.projetos-websitespessoais:hover .info-card-websitespessoais{
	transition: 1s;
	clip-path: polygon(100% 0, 80% 0, 70% 100%, 0% 100%, 0 49%, 0% 0%);
	width: 70%;
}
.projetos-websitespessoais:hover .num-websitespessoais-card{
	transition: 1s;

}
.projetos-websitespessoais:hover .hideweb{
	display: block;
	animation: colorcardtitle 2s ;
	
}
#websitespessoais-section .resumo-titulodasection{
 color: rgb(48, 131, 131);
 margin-bottom: 2%;
}



/* ======================Useless====================== */

#useless-section{
	display: flex;
	margin-top: 10px;
	height: 100%;
	padding: 10px;
	background-color: #eeeeee;
}
.container-useless{
	width: 90%;
	margin: 50px auto;
}
.container-useless-projetos{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-flow: wrap;
}


.container-useless-projetos a{
text-decoration: none;
}
.circle-useless{
	width: 100px;
	height: 100px;
	margin: 0 auto;
	border-radius: 100%;
	background: url(../img/projeto-useless-1.png);
	background-size: cover;
	background-position: center;
}
.body-card{
	padding: 10px 10px;
}

.rgb:hover .projetos-titulo{
	animation: cores;
	animation-duration: 9s;
	animation-iteration-count: infinite;
	margin: 0;
}
.projetos-useless{
	width: 23%;
	border-radius: 4px;
	border:  1px solid #8990971c;
	margin-bottom: 50px;
	transition: 0.3s;
}
.projetos-useless:hover{
	transform: scale(1.05);
	box-shadow:  0px 0px 8px 0px #36363633;
}
.projetos-resumo{
	text-align: center;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen;
	text-decoration: none;
	font-weight: 400;
	color:rgb(49, 49, 49);
}

.projetos-titulo{
	text-align: center;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen;
	text-decoration: none;
	font-size: 30px;
	font-weight: 1000;
	color:#5a5a5a;

}
.titulo-section{
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen;
	font-size: 50px;
	color:#525252;
}
.resumo-titulodasection{
	font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size: 30px;
	font-weight: 1000;
	
}
#useless-section .resumo-titulodasection{
	color:#db61b7;
}

.rodape{
	display: block;
	height: 200px;
	margin: 0 auto;
	background:linear-gradient(#6610f2, #4b0caf);
}
.rodape a{
	margin: 0 auto;
	padding-top: 5px;
	text-decoration: none;
	color: #1e004e;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen;
	text-align: center;
	font-weight: 1000;
}
/* =============================================== */
@media screen and (max-width: 1024px) {
	body{
		overflow-x: hidden;
	}
	header{
		position: fixed;
	}
	.navbar-links{
		position: fixed;
		left: 0px;
		height: 92vh;
		min-width: 40vw;
		top: 8vh;
		background-color: rgba(68, 68, 68, 0.486);
		display: flex;
		flex-direction: column; /*coluna: colum; */
		align-items: center;
		width: 100px;
		transition: all 0.3s ease;
		transform: translateX(-100%);
	}
	.navbar-links li{
		opacity: 0;
	}
	.navbar-links li a{
		font-size: 50px;
		color: #FBFBF8;
	}
	.navbar-links li a:hover {
		color: aqua;
		font-size: 50px;
		/* border-bottom-color: #FBFBF8; */
		border-bottom-right-radius: 1px;
		border-bottom-left-radius: 1px;
		 /* colocar animação */
	}
	.burger{
		display: block;
	}
	.navbar{
		background-color: rgb(68, 68, 68);
	}
	.projetos-useless{
		width: 40%;
	}

	.name-home h1{
		font-size: 13vw;
	}
	.name-home h2{
		font-size: 4vw;
	}
	.logo-github{
		font-size: 30vw;
		max
	}
	.buttonhome-tosobremim{
		width: 15vw;
		height: 15vw;
	}
	.buttonhome-tosobremim::before,
	.buttonhome-tosobremim::after{
		height: 4vw;
		width: 4vw;
	}
	.projetos-websitespessoais{
		width: 100%;
		height: 45vw;
	}
	.navbar-ativo{
		transform: translateX(0%);
	}
}


@media screen and (max-width: 650px) {
	.container-useless{
		width: 100%;
	}
	.projetos-useless{
		width: 80%;
	}
}
@keyframes navLinkFade{
	from{
		opacity: 0;
		transform: translateX(-50px);	
	}
	to{
		opacity: 1;
		transform: translateX(0px);
	}
}
@keyframes colorcardtitle {
	0%{
		color: transparent;
		text-shadow: none;
	}
	100%{
		rgba(255, 255, 255, 0.534);
		text-shadow: 1px 1px 3px #ababab;
	}
	
}


@keyframes scroll-buttom{

	0%{
		top: 50%;
		opacity: 1;
	}
	10%{
		top: 65%;
		opacity: 1;
	}
	20%{
		top: 50%;
		opacity: 1;
	}
	30%{
		opacity: 1;
		top: 65%;
	}
	40%{
		opacity: 1;
		top: 50%;
	}

	50%{
		opacity: 1;
		top: 65%;
	}
	60%{
		top: 50%;
		opacity: 1;
	}
	70%{
		top: 65%;
		opacity: 1;
	}
	80%{
		top: 50%;
		opacity: 1;
	}
	90%{
		opacity: 1;
		top: 65%;
	}
	100%{
		opacity: 1;
		top: 50%;
	}
}
	@keyframes cores{
		0% {
			color: #FF0000;
		}14%{
			color: orange;
		}
		28%{
			color: yellow;
		}
		42%{
			color: lime;
		}
		56%{
			color: #007FFF;
		}
		70%{
			color: #FF68C4;
		}
		84%{
			color: #ab47bc;
		}
		100%{
			color: #FF0000;
		}
	
	
	}

@keyframes animacaoBottomFade{
	from{
	opacity: 0;
	}
	to{
	opacity: 1;
	}
}