html,body{
	scroll-behavior: smooth;
}
body{
    background-color: bisque;
	display: block;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.curriculo, .rgb {
        height: 50vh;
		width: 100vw;
		padding: 10px;
        display: flex;
		align-items: center;
		justify-content: center;
}
.curriculo{
    background-color: bisque;
}
.rgb{
    background-color: rgb(236, 133, 133);
}
.curriculo a{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen;
	font-size: min(100px,10vw);
    text-decoration: none;
	color:#295288;
	margin: 0px;
	padding: 0px;
}
.curriculo a:hover{
	color:#4b66dd;
}

.rgb a{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen;
	font-size: min(100px,10vw);
    text-decoration: none;
	color:#e9fce7;
	margin: 0px;
	padding: 0px; 
}
.rgb a:hover{
	color:#46bd6a;
}
