body{
	animation: 	cores;
	animation-duration: 	4s;
	animation-iteration-count: 	infinite;
	margin: 0;
}

h1{
	display: block;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen;
	font-size: 15vw;
	color:#fff;
	text-align: center;

}
.yeah{
	display:flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 10px;

}
@keyframes cores{
	0% {
		background: #FF0000;
	}14%{
		background: orange;
	}
	28%{
		background: yellow;
	}
	42%{
		background: lime;
	}
	56%{
		background: #007FFF;
	}
	70%{
		background: #FF68C4;
	}
	84%{
		background: #ab47bc;
	}
	100%{
		background: #FF0000;
	}


}
